<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" placeholder="obiwan">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="thatsnomoon">
  </div>

  {{#if errorMessage }}
    <div class="alert alert-danger">{{ errorMessage }}</div>
  {{/if}}

  <div class="form-group">
    <button class="btn btn-primary btn-block">Sign in</button>
  </div>

  <p><a href="/auth/slack">Login With Slack</a></p>
  <p><a href="/auth/google">Login With Google</a></p>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>