  <form id="form" action="/signup" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name"
      placeholder="Add your Name">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="AnakinSkywalker">

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="DeathStar">

    {{#if msgError}}
      <div class="error-message">{{ msgError }}</div>
    {{/if}}

    <button>Create account</button>
  </form>