<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Project Library</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, praesentium?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet.</p>
    
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg mx-4" href="/auth/slack" role="button">Login With Slack</a>
    <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Login With Google</a>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="/books" role="button">Books</a>
  </div>
</div>
